# Configuração do Banco de Dados PostgreSQL (Local ou VPS)
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/kimpa_connect_db?schema=public"

# Configuração do NextAuth (Autenticação)
NEXTAUTH_SECRET="gerar-uma-chave-secreta-muito-segura-de-32-caracteres"
NEXTAUTH_URL="http://localhost:3000"

# URL do Servidor de Real-Time (WebSocket)
NEXT_PUBLIC_SOCKET_URL="http://localhost:3000"

# Armazenamento de Arquivos Local (Uploads)
UPLOAD_DIR="./public/uploads"

# Email SMTP
SMTP_HOST="smtp.exemplo.com"
SMTP_PORT="587"
SMTP_USER="utilizador@exemplo.com"
SMTP_PASSWORD="senha-do-smtp"
EMAIL_FROM="Kimpa Connect <no-reply@exemplo.com>"
